<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>8.0</string>
	<key>CFBundleDisplayName</key>
	<string>Recorder</string>
	<key>CFBundleIdentifier</key>
	<string>com.example.Recorder</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>CFBundleName</key>
	<string>Recorder</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Sovellus tarvitsee luvan laitteesi mikrofonin käyttöön, jotta puhettasi voidaan äänittää.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Lobster-Regular.ttf</string>
		<string>Filson-Soft-W03-Regular.ttf</string>
	</array>
	<key>CFBundleShortVersionString</key>
	<string>${ReleaseVersion}</string>
	<key>CFBundleVersion</key>
	<string>${BuildNumber}</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
</dict>
</plist>
